# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage

# virtualenv
/.venv
/venv

# Database
/db/db.sqlite3

# Pycharm
/.idea

# Collected static files
/public
