{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock title %}</title>
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Simple i-gaming platform</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url "table" %}" class="navbar-link">Game table</a></li>
                    <li><a href="{% url "bank" %}" class="navbar-link">Bank</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url "admin:index" %}">Admin</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "accounts-login" %}">Login</a></li>
                            <li><a href="{% url "accounts-register" %}">Register</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url "accounts-logout" %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock content %}
    </div>
</body>
</html>
